.navbar-body {
    display: flex;
    background-color: antiquewhite;   
}

.left-box {
    display: flex;
    width: 40%;
    height: 100px;
    align-items: center;
}

.left-box img {
    margin: 0px 20px;
}

.left-box h1 {
    font-family: 'Homemade Apple', cursive;
    font-style: italic;
    font-size: 40px;
}

.right-box {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    align-items: center; /* Puts the buttons down */  
}

.menu-button {
    border: 2px solid antiquewhite;
    border-radius: 5px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; */
    font-weight: bold;
    background-color: antiquewhite;
    padding: 10px 35px;
    cursor: pointer;
    font-size: 16px;
}

.menu-button:hover {
    border: 2px solid #276327;
}

.login-button {
    border: 2px solid antiquewhite;
    border-radius: 5px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; */
    font-weight: bold;
    background-color: antiquewhite;
    margin: 15px;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    border: 2px solid #276327;
}
