.navbar-body {
     display: flex;   
}

.left-box {
    display: flex;
    width: 30%;
    align-items: center;
}

.left-box img {
    margin: 5px 20px;
}

.left-box h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: italic;
}

.right-box {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    align-items: center; /* Puts the buttons down */  
}

.menu-button {
    border: 2px solid white;
    background-color: white;
    padding: 10px 35px;
    cursor: pointer;
    font-size: 15px;
}

.menu-button:hover {
    border: 2px solid grey;
}

.login-button {
    border: 2px solid grey;
    background-color: white;
    margin: 15px;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 15px;
}